@model ProjectRecycle.Models.Offer

@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int? consultantId = (int)Context.Session.GetInt32("consultantId");

}
<head>
    <!--~ Link CSS  -->
    <link rel="stylesheet" href="~/css/Dashboard.css">
    <!--~ Link BOOTSTRAP  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <!--~ Link Boxicons  -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


</head>
<body>
    @await Html.PartialAsync("_SideBarCons")
    <section class="dashboard">
        <div class="top d-flex justify-content-between">
            <div></div>
            <div class="top-links align-content-end">
                <a asp-area="" class="text-dark" asp-controller="Home" asp-action="Index">Home</a>
                <a asp-area="" class="text-dark" asp-controller="Offers" asp-action="Index">Explore</a>
            </div>

            <div class="Btn" style="background-color:#427D9D;">

                <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>

                <form asp-action="Logout" asp-controller="AppUsers" method="post">
                    <button type="submit" class="btn shadow-none border-0 text-white" style="background-color:#427D9D;">Logout</button>
                </form>
            </div>
        </div>
        <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <span class="text1">Offre Manage</span>
                </div>
            </div>
            <div class="card shadow-lg p-5 my-2 col-5">
                <dl>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Waste)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Waste.WasteId)
                    </dd>


                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.StartPrice)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.StartPrice)
                    </dd>

                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.EndDate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.EndDate)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CreatedAt)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CreatedAt)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UpdatedAt)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UpdatedAt)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="OfferId" />
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    <a asp-action="Offers">Back to List</a>
                </form>
            </div>
    </section>

    <script src="~/js/Dashboard.js"></script>
    <script type="module" src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script nomodule src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>


</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
